<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Employee Details Form: <small>You can Edit</small></h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Employee full Name: </label>
                    <small id="helpId" class="form-text text-muted">{{employee.name}}</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Department: </label>
                    <small id="helpId" class="form-text text-muted">{{employee.department}}</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Position: </label>
                    <small id="helpId" class="form-text text-muted">{{employee.position}}</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Employee Salary: </label>
                    <small id="helpId" class="form-text text-muted">{{employee.salary}}</small>
                </div>

            </form>
        </div>
    </div>
</div>