<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Employee Details Form: <small>You can Edit</small></h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" (ngSubmit)="f.form.valid && addEmployee()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Employee full Name: </label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="employee.name" aria-describedby="helpId" #name="ngModel" placeholder="">
                    <small id="helpId" class="form-text text-muted">Employee Name</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Department: </label>
                    <input type="text" class="form-control" required [(ngModel)]="employee.department" name="department" #department="ngModel" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Employee department</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Position: </label>
                    <input type="text" class="form-control" [(ngModel)]="employee.position" name="position" #position="ngModel" required aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Employee postion</small>
                </div>
                <div class="form-group">
                    <label for="emp_name" class="col-sm-2 control-label">Employee Salary: </label>
                    <input type="text" class="form-control" [(ngModel)]="employee.salary" name="salary" #salary="ngModel" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Employee Salary</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>